<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upsic</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand">UPSic</a>
                <button class="btn btn-primary my-2 my-sm-0" type="submit" v-if="button_regis" @click="getRegisForm">Register</button>
                <button class="btn btn-primary my-2 my-sm-0" type="submit" v-if="button_login" @click="getLoginForm">Login</button>
                <button class="btn btn-primary my-2 my-sm-0" type="submit" v-if="button_logout" @click="toHome">Logout</button>
            </div>
            <div class="nav-item">
                <button class="h5 btn btn-primary mt-2" v-if="isLogin == true" @click.prevent="state = 'uploadForm'">+Upload</button>
            </div>
        </nav>

        <div class="container">
            <div class="row" v-if="isLogin == false">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body" v-if="form_regis">
                            <h5 class="card-title text-center">Register</h5>
                            <form class="form-signin" @submit.prevent="toRegis">
                                <div class="form-label-group">
                                    <input type="email" v-model="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                    <label for="inputEmail">Email address</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" v-model="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                                    <label for="inputPassword">Password</label>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                            </form>
                        </div>

                        <div class="card-body" v-if="form_login">
                            <h5 class="card-title text-center">Sign In</h5>
                            <form class="form-signin" @submit.prevent="toLogin">
                                <div class="form-label-group">
                                    <input type="email" v-model="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                    <label for="inputEmail">Email address</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" v-model="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                                    <label for="inputPassword">Password</label>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                                    in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="isLogin == true">
                <!-- upload music form -->
                <upload-form class="mt-2" @close-upload="state = ''" v-if="state == 'uploadForm'" @create-music="pushMusic"></upload-form>

                <!-- song-list -->
                <div class="col-8">
                    <div class="row">
                        <song-list @current-song="displayLyric " v-for="song in listMusic" :key="song._id" :song="song">
                            </song-card>
                    </div>
                </div>

                <!-- song-lyric -->
                <div class="col-4 justify-content-center">
                    <div class="row">
                        <song-lyric v-if="state == 'lyric'" :current-music="currentMusic" :current-lyric="currentLyric">
                        </song-lyric>
                    </div>
                </div>
            </div>


        </div>
        <button v-on:click="searchSong('Humble')">
            Ini button
        </button>

        <span v-html="lyric"></span>

        <!-- <show-lyric>

        </show-lyric> -->
        <!-- <show-lyric v-bind:lyric="lyric"></show-lyric> -->

        <!-- 
        <div v-bind="lyric">
            {{lyric}}
        </div> -->
    </div>


    <!-- component vue -->
    <script src="./js/components/uploadForm.js"></script>
    <script src="./js/components/songList.js"></script>
    <script src="./js/components/songLyric.js"></script>
    <!-- instance vue -->
    <script src="./js/index.js"></script>
    <!-- <script>
        $(document).ready(function() {
            let a = "<div id='rg_embed_link_1' class='rg_embed_link' data-song-id='1'>Read <a href='https://genius.com/Camron-killa-cam-lyrics'>“Killa Cam” by Cam'ron</a> on Genius</div>"
            let b = "<script crossorigin src='//genius.com/songs/1/embed.js'>"
            $('#lirics').append(a) $('#lirics').append(b)
        })
    </script> -->

    </script>
</body>

</html>